<!DOCTYPE html>
<html>
    <head>
        <title>Miniprojekti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>Welcome, <span th:text="${username}">$username</span>!</h1>
        <table>
            <tr>
                <th><a href="/list">List</a><br/></th>
                <th><a href="/post">Post</a></th>
                <th><a href="/search">Search</a></th>
                <th><a href="/logout">Logout</a></th>
            </tr>
        </table>
    </body>
</html>