<!DOCTYPE html>
<html>
    <head>
        <title>Miniprojekti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <th>Headline</th>
                <th>Type</th>
            </tr>
            <tr th:each="recommendation : ${recommendations}">
                <td><a th:href="@{~/list/{recommendationType}/{recommendationId}(recommendationType=${recommendation.type},recommendationId=${recommendation.id})}"><span th:text="${recommendation.headline}">$headline</span></a></td>
                <td th:text="${recommendation.type}">$type</td>
            </tr>
        </table>
    </body>
</html>