<!DOCTYPE html>
<html>
<head>
    <title>Miniprojekti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <a href="/post">Peruuta</a>
    <h1>Lisää Blogi</h1>
    <form action="/post" method="POST">
        <input type="hidden" value="blog" name="type" /> <br>
        <input type="text" name="url" placeholder="Blog url" required /> <br>
        <input type="text" name="headline" placeholder="Headline" required /> <br>
        <input type="text" name="writer" placeholder="Writer" required /> <br>
        <input type="text" name="tags" placeholder="tag1, tag2" /> <br>
        <input type="text" name="related_courses" placeholder="Related courses" /> <br>
        <input type="submit" name="add" value="Lisää Blogi" />
    </form>
</body>
</html>