<!DOCTYPE html>
<head>
    <title>Miniprojekti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/">Peruuta</a>
    <p>Käyttätunnuksen tulee olla vähintään 3 merkkiä pitkä.</p>
    <p>Salasanan tulee olla vähintään 8 merkkiä pitkä ja sisältää muita merkkejä kirjainten lisäksi.</p>
    <span th:text="${message}">$message</span>
    <form action="/signup" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required/><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required/><br><br>
        <input type="submit" name="register" value="Register">
    </form>
    
</body>
</html>